/* HSL */
$desirehsl: hsla(355%, 78%, 56%, 1);
$dewhsl: hsla(105%, 55%, 96%, .25);
$lightbluehsl: hsla(182%, 43%, 76%, 1);
$queenbluehsl: hsla(203%, 39%, 44%, 1);
$spacebluehsl: hsla(215%, 50%, 23%, 1);

/* RGB */
$desire: rgba(230, 57, 70, 1);
$dew: rgba(241, 250, 238, 1);
$lightblue: rgba(168, 218, 220, 1);
$queenblue: rgba(69, 123, 157, 1);
$spaceblue: rgba(29, 53, 87, 1);


@mixin responsive-ratio($x,$y, $pseudo: false) {
    $padding: unquote( ( $y / $x ) * 100 + '%' );
    @if $pseudo {
        &:before {
            @include pseudo($pos: relative);
            width: 100%;
            padding-top: $padding;
        }
    } @else {
        padding-top: $padding;
    }
}

// div {
//     @include responsive-ratio(16,9);
// }


$breakpoints: (
    "phone":        400px,
    "phone-wide":   480px,
    "phablet":      560px,
    "tablet-small": 640px,
    "tablet":       768px,
    "tablet-wide":  1024px,
    "desktop":      1248px,
    "desktop-wide": 1440px
);
@mixin mq($width, $type: min) {
    @if map_has_key($breakpoints, $width) {
        $width: map_get($breakpoints, $width);
        @if $type == max {
            $width: $width - 1px;
        }
        @media only screen and (#{$type}-width: $width) {
            @content;
        }
    }
}

// .site-header {
//     padding: 2rem;
//     font-size: 1.8rem;
//     @include mq('tablet-wide') {
//         padding-top: 4rem;
//         font-size: 2.4rem;
//     }
// }

@mixin angle-edge($pos-top:null, $angle-top:null, $pos-btm:null, $angle-btm:null){
  width: 100%;
  position: relative;
  background: linear-gradient(to right, $spaceblue 0%, $queenblue 100%);
  margin: 150px 0;
  &::before,
  &::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: inherit;
    z-index: -1;
    transition: ease all .5s;
  }

  @if $pos-top{
    &::before{
      @if $pos-top == 'topleft'{
        top: 0;
        transform-origin: right top;
        transform: skewY($angle-top);
      }
      @if $pos-top == 'topright' {
        top: 0;
        transform-origin: left top;
        transform: skewY(-$angle-top);
      }
    }
  }

  @if $pos-btm{
    &::after{
      @if $pos-btm == 'bottomleft' {
        bottom: 0;
        transform-origin: right bottom;
        transform: skewY(-$angle-btm);

      }

      @if $pos-btm == 'bottomright' {
        bottom: 0;
        transform-origin: left bottom;
        transform: skewY($angle-btm);
      }
    }
  }
}

@-webkit-keyframes gradient-transition{
  0%{
    background-position: 0% 50%
  } 50%{
    background-position: 100% 50%
  } 100%{
    background-position: 0% 50%
  }
}

@-webkit-keyframes lightshow{
  0%{
    background-position: 0 0
  }
  50%{
    background-position: 300% 0
  }
  100%{
    background-position: 0 0
  }
}
