@import "compass/css3";
@import "colors.scss";
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400');
body{
  background: $dew;
}
.contact-container{
  margin: 150px auto;
  line-height: 1.6;
  max-width: 1170px;
  padding: 1rem;
  .brand{
    text-align: center;
    color: $desire;
  }
  .contact-wrapper{
    box-shadow: 0 0 20px 0 rgba(29, 53, 87, .7);
    *{
      padding: 1rem;
    }
    .company-info{
      background: linear-gradient(-45deg, $spaceblue, $queenblue);
      color: white;
      h3, ul{
        text-align: center;
        margin: 0 0 1rem 0;
        li{
          a{
            padding: 0 !important;
            text-decoration: none;
            color: white;
          }
        }
      }
    }
    .contact-form{
      background: #f9feff;
    }
    ul{
      list-style: none;
      padding: 0;
    }
  }
}
.contact-form{
  form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.2rem;
    p{
      margin: 0;
    }
    label{
      display: block;
    }
    .full{
      grid-column: 1 / 3;
    }
    .right-half{
      grid-column: 2 / 3;
    }
    input, textarea{
      width: 100%;
      padding: 1rem;
      border: 1px solid $spaceblue;
    }
    button{
      width: 100%;
      padding: 1rem;
    }
    // button{
    //   background: none;
    //   border
    //   color: $desire;
    //   font-weight: bold;
    //   font-size: 1.5rem;
    //   // border: 0;
    //   text-transform: uppercase;
    //   transition: all .3s ease-out;
    //   // &:hover, &:focus{
    //   //   background: $lightblue;
    //   //   color: $dew;
    //   //   outline: 0;
    //   // }
    // }
  }
}

@media only screen and (min-width:700px){
  .contact-form{
    border: 1px solid $spaceblue;
  }
  .contact-wrapper{
    display: grid;
    grid-template-columns: 1fr 2fr;
    & > *{
      padding: 2rem;
    }
  }
  .company-info{
    line-height: 1rem;
    h3, ul{
      text-align: left !important;
    }
    h3{
      font-size: 2rem;
    }
    ul{
      li{
        font-size: 1.25rem;
        i{
          margin-right: 5px;
        }
      }
    }
    .contact-markup{
      border-bottom: .25rem solid black;
    }
  }
  .button{
  z-index: 0;
  border: 1px solid $spaceblue;
  background: none;
  cursor: pointer;
  transition: .8s;
  position: relative;
  overflow: hidden;
  font-size: 1.5rem;
  &::before{
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: $spaceblue;
    transition: .8s ease;
    z-index: -1;
  }
  }
  .waveywido{
    z-index: 0;
    color: $dew !important;
    &::before{
      top: 0;
      border-radius: 0 0 50% 50%;
    }
    &::before{
      height: 190%;
    }
    &:hover{
      color: $spaceblue !important;
    }
    &:hover::before{
      height: 0;
    }
  }
}


::-webkit-input-placeholder { opacity: 1; -webkit-transition: opacity .5s; transition: opacity .5s; }  /* Chrome <=56, Safari < 10 */
:-moz-placeholder { opacity: 1; -moz-transition: opacity .5s; transition: opacity .5s; } /* FF 4-18 */
::-moz-placeholder { opacity: 1; -moz-transition: opacity .5s; transition: opacity .5s; } /* FF 19-51 */
:-ms-input-placeholder { opacity: 1; -ms-transition: opacity .5s; transition: opacity .5s; } /* IE 10+ */
::placeholder { opacity: 1; transition: opacity .5s; } /* Modern Browsers */

*:focus::-webkit-input-placeholder { opacity: 0; } /* Chrome <=56, Safari < 10 */
*:focus:-moz-placeholder { opacity: 0; } /* FF 4-18 */
*:focus::-moz-placeholder { opacity: 0; } /* FF 19-50 */
*:focus:-ms-input-placeholder { opacity: 0; } /* IE 10+ */
*:focus::placeholder { opacity: 0; } /* Modern Browsers */
input[type=text], input[type=email], textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;}
input[type=text]:focus, input[type=email]:focus, textarea:focus {
  box-shadow: 0 0 5px $spaceblue;
}
textarea{
  resize: none;
}
