@import "compass/css3";
@import "colors.scss";
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400');

*{
  box-sizing: border-box;
}

footer{
  height: 350px;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 2rem;
  background: linear-gradient(-45deg, $queenblue, $spaceblue);
  .sitemap{
    width: 50%;
    & > h2{
      font-size: 2em;
      color: $lightblue;
    }
    ul{
      padding: 1.5rem;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      li{
        list-style: none;
        font-size: 1.5em;
        padding: .5rem;
        border-left: .25rem solid $queenblue;
        a{
          text-decoration: none;
          color: $queenblue;
          transition: all .3s ease-in-out;
          padding-left: 1rem;
          &:hover{
            color: $lightblue;
            margin-left: 15px;
            font-weight: 500;
          }
        }
      }
    }
  }
  .social-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    & > h2{
      text-align: right;
      font-size: 2em;
      color: $lightblue;
    }
    .social-icons{
      text-align: right;
      .social-button{
        text-align: center;
        display: inline-block;
        height: 90px;
        width: 90px;
        background: $dew;
        margin: 1rem;
        border-radius: 30%;
        box-shadow: 0 5px 15px -5px #00000070;
        color: $desire;
        overflow: hidden;
        position: relative;
        &::before{
          content: "";
          position: absolute;
          width: 120%;
          height: 120%;
          background: $lightblue;
          transform: rotate(45deg);
          left: -110%;
          top: 90%;
        }
        &:hover::before{
          animation: social-transition .7s 1;
          top: -10%;
          left: -10%;
        }
        &:nth-last-child(1){
          margin-right: 0;
        }
        &:hover i{
          transform: scale(1.3);
          color: $spaceblue;
        }
        i{
          line-height: 90px;
          font-size: 1.5em;
          transition: .3s linear;
        }
      }
    }
  }
}
@keyframes social-transition {
  0%{
    left: -110%;
    top: 90%;
  }50%{
    left: 10%;
    top: -30%;
  }100%{
    top: -10%;
    left: -10%;
  }
}
/* responsive-ratio */
@media only screen and (max-width: 1050px){
  footer{
    height: auto;
    display: flex;
    flex-direction: column;
    .sitemap{
      width: 100%;
      & > h2{
        font-size: 2em;
        text-align: center;
      }
      ul{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        li{
          font-size: 1rem;
          border: none;
          &:nth-child(1){
            margin: 0;
          }
          a{
            color: $dew;
            &:hover{
              margin: 0;
            }
          }
        }
      }
    }
    .social-container{
      width: 100%;
      & > h2{
        text-align: center;
      }
      .social-icons{
        text-align: center;
        .social-button{
          height: 60px;
          width: 60px;
          i{
            line-height: 60px;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 415px){
  footer{
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 0;
    .sitemap{
      width: 100%;
      padding: 1.5rem 0;
      & > h2{
        font-size: 1.5em;
        text-align: center;
      }
      ul{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0;
        width: 100%;
        padding: 1rem 0;
        li{
          font-size: 1rem;
          border: none;
          &:nth-child(1){
            margin: 0;
          }
          a{
            color: $dew;
            padding: 0;
            &:hover{
              margin: 0;
            }
          }
        }
      }
    }
    .social-container{
      width: 100%;
      & > h2{
        text-align: center;
        font-size: 1.5em;
      }
      .social-icons{
        text-align: center;
        .social-button{
          height: 40px;
          width: 40px;
          i{
            line-height: 40px;
          }
        }
      }
    }
  }
}
section#feedback{
  div{
    overflow: hidden;
  }
}
