@import "compass/css3";

/* HSL */
$pbluehsl: hsla(201%, 100%, 14%, 1);
$aredhsl: hsla(0%, 69%, 50%, 1);
$uorangehsl: hsla(31%, 100%, 48%, 1);
$myellowhsl: hsla(40%, 97%, 64%, .5);
$dwhitehsl: hsla(51%, 55%, 82%, .5);

/* RGB */
$pblue: rgba(0, 48, 73, 1);
$ared: rgba(214, 40, 40, 1);
$uorange: rgba(247, 127, 0, 1);
$myellow: rgba(252, 191, 73, 1);
$dwhite: rgba(234, 226, 183, 1);
