/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/css3";
@import "colors";
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400');

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  background: $txtnickel;
  font-family: 'Poppins', sans-serif;
}
#image-container{
  width: 100%;
  height: 100vh;
  min-height: auto;
  background: $lightblue;
  background-image: url('../images/background-landing-page.jpg');
  background-size:cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
  color: $spaceblue;
  .darken-overlay{
    font-size: 17px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align:justify;
  & > h1{
    font-size: 5rem;
    color: $txtnickel;
  }
  & > p{
    font-size: 3.5rem;
    color: $queenblue;
  }
  .button{
    font-size: 18px;
    text-decoration: none;
    color: $txtnickel;
    border: 2px solid $txtnickel;
    border-radius: 19px;
    margin-top: 20px;
    padding: 1rem 2rem;
    font-size: 2rem;
    cursor: crosshair;
    background: transparent;
    -webkit-transition: all .3s cubic-bezier(.42,.42,.75,.74);
         -moz-transition: all .3s cubic-bezier(.42,.42,.75,.74);
          -ms-transition: all .3s cubic-bezier(.42,.42,.75,.74);
           -o-transition: all .3s cubic-bezier(.42,.42,.75,.74);
              transition: all .3s cubic-bezier(.42,.42,.75,.74);
    &:hover{
      background: darken($txtnickel, 50);
      // border: 2px darken($txtnickel, 25);
      color: lighten($txtnickel, 25);
    }
  }
}
}
.services_header{
  text-align: center;
  font-size: 5rem;
  display: inline-block;
  color: $spaceblue;
  padding: 1rem 2rem;
  &::after{
  content: ""; /* This is necessary for the pseudo element to work. */
  display: block; /* This will put the pseudo element on its own line. */
  // margin: 0 auto; /* This will center the border. */
  // width: 45%; /* Change this to whatever width you want. */
  padding-top: 20px; /* This creates some space between the element and the border. */
  border-bottom: .4rem solid $spaceblue; /* This creates the border. Replace black with whatever color you want. */
}
}
#announcement{
  font-size: 3.5rem;
  padding: 1rem 2rem;
  width: auto;
  display: inline-block;
  position: relative;
  color: $spaceblue;
  &::after{
  content: ""; /* This is necessary for the pseudo element to work. */
  display: block; /* This will put the pseudo element on its own line. */
  margin: 0 auto; /* This will center the border. */
  // width: 45%; /* Change this to whatever width you want. */
  padding-top: 20px; /* This creates some space between the element and the border. */
  border-bottom: .4rem solid $spaceblue; /* This creates the border. Replace black with whatever color you want. */
  }
  & > h1{
    width: auto;
  }
}
.video-background { /* class name used in javascript too */
    width: 100%; /* width needs to be set to 100% */
    height: 100%; /* height needs to be set to 100% */
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}
#services{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  margin: 3% 0;
  box-shadow: inset 0 1px 2px rgba(0,0,0,.39), 0 -1px 1px #FFF, 0 1px 0 rgba(255,255,255,.1);
  padding: 3rem 0;
  & > div{
    // border-radius: 10px;
    padding: 1rem;
    width: calc(400px - 30px);
    height: calc(250px - 30px);
    display: block;
    position: relative;
      -webkit-transition: all .3s cubic-bezier(.42,.42,.75,.74);
         -moz-transition: all .3s cubic-bezier(.42,.42,.75,.74);
          -ms-transition: all .3s cubic-bezier(.42,.42,.75,.74);
           -o-transition: all .3s cubic-bezier(.42,.42,.75,.74);
              transition: all .3s cubic-bezier(.42,.42,.75,.74);
              &::before,
              &::after{
                content: '';
                position: absolute;
                top: -2px;
                left: -2px;
                // background: linear-gradient(45deg,#fb0094,#0000ff,#00ff00,#ff0000,#fb0094,#0000ff,#00ff00,#ff0000);
                background: linear-gradient(45deg,$desire,$dew,$lightblue,$queenblue,$spaceblue,$desire,$dew,$lightblue,$queenblue,$spaceblue);
                background-size: 400%;
                width: calc(100% + 4px);
                height: calc(100% + 4px);
                z-index: -1;
                animation: lightshow 20s linear infinite;
              }
              &::after{
                filter: blur(10px);
              }
    .content{
      position: absolute;
      top: 100px;
      height: calc(100% - 100px);
      text-align: center;
      padding: 20px;
      box-sizing: border-box;
      width: 100%;
      left: 0;
      // display: flex;
      // align-items: center;
      // justify-content: center;
      // flex-direction: column;
      text-align: center;
        -webkit-transition: all .3s cubic-bezier(.42,.42,.75,.74);
           -moz-transition: all .3s cubic-bezier(.42,.42,.75,.74);
            -ms-transition: all .3s cubic-bezier(.42,.42,.75,.74);
             -o-transition: all .3s cubic-bezier(.42,.42,.75,.74);
                transition: all .3s cubic-bezier(.42,.42,.75,.74);
      h3{
        margin: 0;
        padding: 0;
        color: #fff;
        font-size: 24px;
      }
    }
    &:nth-child(odd){
      background: $lightblue;
    }
    &:nth-child(even){
      background: $spaceblue;
    }
    &:hover .icon .fas{
      font-size: 40px;
    }
    &:hover .icon{
      top: 20px;
      left: calc(50% - 40px);
      width: 80px;
      height: 80px;
      border-radius: 50%;
    }
    .icon{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(-45deg, $spaceblue, $lightblue);
        -webkit-transition: all .3s cubic-bezier(.42,.42,.75,.74);
           -moz-transition: all .3s cubic-bezier(.42,.42,.75,.74);
            -ms-transition: all .3s cubic-bezier(.42,.42,.75,.74);
             -o-transition: all .3s cubic-bezier(.42,.42,.75,.74);
                transition: all .3s cubic-bezier(.42,.42,.75,.74);
      z-index: 1 !important;
      // border: 2px solid rgba(0,0,0,.2);
      .fas{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 80px;
          -webkit-transition: all .3s cubic-bezier(.42,.42,.75,.74);
             -moz-transition: all .3s cubic-bezier(.42,.42,.75,.74);
              -ms-transition: all .3s cubic-bezier(.42,.42,.75,.74);
               -o-transition: all .3s cubic-bezier(.42,.42,.75,.74);
                  transition: all .3s cubic-bezier(.42,.42,.75,.74);
                  &:nth-child(1){
                    color: $lightblue;
                  }
                  &:nth-child(2){
                    color: $spaceblue;
                  }
      }
    }
  }
}
#motivational-quote{
  margin: 150px 0;
  width: 100%;
  height: 300px;
  animation: gradient-transition 7s ease infinite;
  @include angle-edge(topleft, 3deg, bottomright, 3deg);
  padding: 2rem;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  p{
    font-size: 3rem;
    font-weight: bold;
    transform: rotate(3deg);
    background-color: #565656;
    color: transparent;
    text-shadow: 2px 2px 3px rgba(255,255,255,0.15);
    -webkit-background-clip: text;
       -moz-background-clip: text;
            background-clip: text;
    &::before{
      content: open-quote;
      background-color: #565656;
      color: transparent;
      text-shadow: 2px 2px 3px rgba(255,255,255,0.5);
      -webkit-background-clip: text;
         -moz-background-clip: text;
              background-clip: text;
      margin-right: 5px;
    }
    &::after{
      content: close-quote;
      background-color: #565656;
      color: transparent;
      text-shadow: 2px 2px 3px rgba(255,255,255,0.5);
      -webkit-background-clip: text;
         -moz-background-clip: text;
              background-clip: text;
      margin-left: 5px;
    }
  }
}
#feedback{
  width: 90%;
  // height: 300px;
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  grid-template-rows: auto;
  grid-gap: 0 40px;
  justify-content: center;
  padding: 2rem;
  margin: 0 auto;
  .box{
    position: relative;
    height: 400px;
    background: $spaceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    margin: auto;
    color: white;

    &:hover::before{
      // box-shadow: 0 0 15px black;
    }
    &::before{
      content: '';
      position: absolute;
      top: -2px;
      left: -2px;
      right: -2px;
      bottom: -2px;
      background: green;
      transform: skew(2deg, 2deg);
      z-index: -1;
      transition: all .3s ease;
    }
    &::after{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 50%;
      height: 100%;
      background: rgba(255,255,255,.05);
      z-index: 0;
    }
    &:nth-child(1)::before{
      background: linear-gradient(315deg, #ff0057, #e64a19);
    }
    &:nth-child(2)::before{
      background: linear-gradient(315deg, #89ff00, #00bcd4);
    }
    &:nth-child(3)::before{
      background: linear-gradient(315deg, #e91e63, #5d02ff);
    }
    &:nth-child(4)::before{
      background: linear-gradient(315deg, #ff0000, #ffc107);
    }
    &:hover .content h2{
      top: -140px;
    }
    &:hover .content a{
      transform: translateY(0);
      opacity: 1;
      visibility: visible;
      z-index: 2;
    }
    .content{
      position: relative;
      padding: 20px;
      transform: translateY(40px);
      z-index: 4;
      h2{
        position: absolute;
        top: -60px;
        right: 20px;
        margin: 0;
        padding: 0;
        font-size: 10rem;
        color: rgba(255,255,255,.05);
        transition: .5s;
      }
      h3{
        margin: 0 0 10px;
        padding: 1rem 0;
        font-size: 20px;
        font-weight: 500;
        color: #fff;
        position: relative;
        &::after{
          content: '';
          width: 100%;
          position: absolute;
          bottom: 0;
          left: 0;
          background: $dewhsl;
          display: block;
          height: .25rem;
        }
      }
      p{
        margin: 0;
        padding: 0;
        color: #fff;
        font-size: 16px;
      }
      a{
        position: relative;
        margin: 20px 0 0;
        padding: 10px 20px;
        border: 1px solid #fff;
        display: inline-block;
        color: #fff;
        transition: .5s;
        transform: translateY(-40px);
        opacity: 0;
        visibility: hidden;
        text-decoration: none;
        z-index: 2;
        &:hover{
          color: #000;
          background: #fff;
          cursor: pointer;
        }
      }
    }
  }
}

.clickable {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
  z-index: 5;
}
.darken-overlay{
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.7);
}
@media only screen and (max-width: 1200px){
  #services{
    display: flex;
    min-height: (250px * 3 + 100px);
    flex-direction: column;
    align-items: center;
  }
  #announcement{
    display: block;
    margin: auto;
    color: $spaceblue;
    &::after{
      width: 50%;
      margin: auto;
      border-bottom: .2rem solid $spaceblue;
    }
  }
  .services_header{
    text-align: center;
    width: 100%;
    margin: auto;
    text-align: center;
    height: 200px;
    display: block !important;
    &::after{
      width: 50%;
      margin: auto;
      border-bottom: .2rem solid $spaceblue;
    }
  }
  #motivational-quote{
    height: 200px;
    p{
      font-size: 2rem;
    }
  }
}
@media only screen and (max-width: 700px){
  #image-container{
    .darken-overlay{
      & > p{
        font-size: 2.5rem;
      }
    }
  }
  #announcement{
    display: block;
    margin: auto;
    color: $spaceblue;
    font-size: 2.5rem;
    &::after{
      width: 50%;
      margin: auto;
      border-bottom: .2rem solid $spaceblue;
    }
  }
  .services_header{
    font-size: 3.5rem;
  }
}
@media only screen and (max-width: 560px){
  #image-container{
    & > h1{
      font-size: 3rem;
    }
  }
  #motivational-quote{
    height: 180px;
    p{
      font-size: 1.5rem;
    }
  }
  #announcement{
    display: block;
    margin: auto;
    color: $spaceblue;
    font-size: 2rem;
    &::after{
      width: 50%;
      margin: auto;
      border-bottom: .2rem solid $spaceblue;
    }
  }
}
@media only screen and (max-width: 430px){
  #motivational-quote{
    height: 150px;
    p{
      font-size: 1rem;
    }
  }
  #image-container{
    & > h1{
      font-size: 2rem;
    }
  }
}
@media only screen and (max-width: 414px){
  #image-container{
    .darken-overlay{
      & > h1{
        font-size: 3rem;
      }
      & > p{
        font-size: 1.5rem;
      }
      .button{
        font-size: 1.5rem;
      }
    }
  }
  #announcement{
    display: block;
    margin: auto;
    color: $spaceblue;
    font-size: 1.25rem;
    margin-top: 20px;
    &::after{
      width: 50%;
      margin: auto;
      border-bottom: .2rem solid $spaceblue;
    }
  }
  #services{
    display: flex;
    min-height: (250px * 3 + 100px);
    flex-direction: column;
    align-items: center;
    & > div{
      width: calc(348px - 30px);
       height: calc(217px - 30px);
       .content{
         top: 75px;
       }
    }
  }
  #motivational-quote{
    margin: 75px 0;
  }
  .services_header{
    font-size: 2.5rem;
    height: 100px;
  }
}
