/* HSL */
/* RGB */
/*BORDEAUX*/
/*LIGHTER THAN OFF*/
@import url("https://fonts.googleapis.com/css?family=Raleway|Satisfy");
@import url("https://fonts.googleapis.com/css?family=Poppins");
@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400");
@-webkit-keyframes gradient-transition {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-webkit-keyframes lightshow {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 300% 0;
  }
  100% {
    background-position: 0 0;
  }
}
/* line 4, ../sass/affiliates.scss */
body {
  background: #c5c5c5;
}

/* line 7, ../sass/affiliates.scss */
.container_affilliates {
  height: 1500px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 150px;
}
/* line 13, ../sass/affiliates.scss */
.container_affilliates .profile-card {
  width: 400px;
  height: 500px;
  min-width: 250px;
  overflow: hidden;
  position: relative;
  background: #457b9d;
  color: #500b07;
  transition: all 0.3s cubic-bezier(0.61, -0.36, 1, 1);
}
/* line 22, ../sass/affiliates.scss */
.container_affilliates .profile-card:hover {
  box-shadow: 0 7px 15px -8px black;
  transform: scale(1.02);
}
/* line 26, ../sass/affiliates.scss */
.container_affilliates .profile-card .card-header {
  width: 100%;
  height: 200px;
  overflow: hidden;
  position: relative;
}
/* line 31, ../sass/affiliates.scss */
.container_affilliates .profile-card .card-header::before {
  content: '';
  position: absolute;
  border-top: 30px solid transparent;
  border-left: 400px solid #457b9d;
  bottom: 0;
}
/* line 38, ../sass/affiliates.scss */
.container_affilliates .profile-card .card-header img {
  width: 100%;
  height: 200px;
}

/* line 45, ../sass/affiliates.scss */
.card-content {
  padding: 10px;
  overflow: hidden;
  text-align: center;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
/* line 54, ../sass/affiliates.scss */
.card-content h2 {
  color: #1d3557;
  font-size: 2rem;
  margin: 0 5px 0 0;
}
/* line 59, ../sass/affiliates.scss */
.card-content ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
/* line 66, ../sass/affiliates.scss */
.card-content ul li {
  list-style: none;
  display: inline-block;
}
/* line 69, ../sass/affiliates.scss */
.card-content ul li a {
  background: #1d3557;
  font-size: 2rem;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  line-height: 50px;
  text-decoration: none;
  color: #457b9d;
  transition: all .3s ease-in-out;
}
/* line 79, ../sass/affiliates.scss */
.card-content ul li a:hover {
  transform: scale(1.2);
  font-weight: 400;
}

/* line 87, ../sass/affiliates.scss */
.card-footer {
  width: 100%;
  height: 100px;
  background: #1d3557;
  position: relative;
  box-sizing: content-box;
}
/* line 93, ../sass/affiliates.scss */
.card-footer::before {
  content: '';
  position: absolute;
  border-bottom: 30px solid transparent;
  border-right: 400px solid #457b9d;
  top: 0;
}
/* line 100, ../sass/affiliates.scss */
.card-footer p {
  margin: 0;
  padding: 2rem;
  display: block;
  color: #457b9d;
  font-weight: bold;
}

/* line 108, ../sass/affiliates.scss */
.red {
  color: #500b07;
  font-weight: 400;
}

/* Sizes for reference */
/*
  card: 500px
  card-header: 200px
  card-content: 143px
  footer: 157px
*/
