/* HSL */
/* RGB */
/*BORDEAUX*/
/*LIGHTER THAN OFF*/
@import url("https://fonts.googleapis.com/css?family=Raleway|Satisfy");
@import url("https://fonts.googleapis.com/css?family=Poppins");
@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400");
@-webkit-keyframes gradient-transition {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-webkit-keyframes lightshow {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 300% 0;
  }
  100% {
    background-position: 0 0;
  }
}
/* line 4, ../sass/affiliates.scss */
body {
  background: #c5c5c5;
}

/* line 7, ../sass/affiliates.scss */
.container_affilliates {
  height: calc(100% + 100px);
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
  flex-direction: column;
  align-items: center;
}
/* line 15, ../sass/affiliates.scss */
.container_affilliates .profile-card {
  width: 400px;
  height: 500px;
  min-width: 250px;
  overflow: hidden;
  position: relative;
  background: #457b9d;
  color: #b3b3b3;
  transition: all 0.3s cubic-bezier(0.61, -0.36, 1, 1);
  margin: 1rem 0;
}
/* line 25, ../sass/affiliates.scss */
.container_affilliates .profile-card:hover {
  box-shadow: 0 7px 15px -8px black;
  transform: scale(1.02);
}
/* line 29, ../sass/affiliates.scss */
.container_affilliates .profile-card .card-header {
  width: 100%;
  height: 200px;
  overflow: hidden;
  position: relative;
}
/* line 34, ../sass/affiliates.scss */
.container_affilliates .profile-card .card-header::before {
  content: '';
  position: absolute;
  border-top: 30px solid transparent;
  border-left: 400px solid #457b9d;
  bottom: 0;
}
/* line 41, ../sass/affiliates.scss */
.container_affilliates .profile-card .card-header img {
  width: 100%;
  height: 200px;
}

/* line 48, ../sass/affiliates.scss */
.card-content {
  padding: 10px;
  overflow: hidden;
  text-align: center;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
/* line 57, ../sass/affiliates.scss */
.card-content h2 {
  color: #c5c5c5;
  font-size: 2rem;
}
/* line 61, ../sass/affiliates.scss */
.card-content p {
  font-size: 1rem;
}
/* line 64, ../sass/affiliates.scss */
.card-content ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
/* line 71, ../sass/affiliates.scss */
.card-content ul li {
  list-style: none;
  display: inline-block;
}
/* line 74, ../sass/affiliates.scss */
.card-content ul li a {
  background: #1d3557;
  font-size: 2rem;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  line-height: 50px;
  text-decoration: none;
  color: #457b9d;
  transition: all .3s ease-in-out;
}
/* line 84, ../sass/affiliates.scss */
.card-content ul li a:hover {
  transform: scale(1.2);
  font-weight: 400;
}

/* line 92, ../sass/affiliates.scss */
.card-footer {
  width: 100%;
  height: 100px;
  background: #1d3557;
  position: relative;
  box-sizing: content-box;
}
/* line 98, ../sass/affiliates.scss */
.card-footer::before {
  content: '';
  position: absolute;
  border-bottom: 30px solid transparent;
  border-right: 400px solid #457b9d;
  top: 0;
}
/* line 105, ../sass/affiliates.scss */
.card-footer p {
  margin: 0;
  padding: 2rem;
  display: block;
  color: #c5c5c5;
  font-weight: bold;
}

/* line 113, ../sass/affiliates.scss */
.red {
  color: #d7d7d7;
  font-weight: 400;
}

/* Sizes for reference */
/*
  card: 500px
  card-header: 200px
  card-content: 143px
  footer: 157px
*/
@media only screen and (min-width: 820px) {
  /* line 127, ../sass/affiliates.scss */
  .container_affilliates {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 3rem 0;
  }
}
