/* HSL */
/* RGB */
/*BORDEAUX*/
/*LIGHTER THAN OFF*/
@import url("https://fonts.googleapis.com/css?family=Raleway|Satisfy");
@import url("https://fonts.googleapis.com/css?family=Poppins");
@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400");
@-webkit-keyframes gradient-transition {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-webkit-keyframes lightshow {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 300% 0;
  }
  100% {
    background-position: 0 0;
  }
}
/* line 7, ../sass/cards.scss */
.sub-landing-content {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 480px);
  align-content: space-around;
  justify-content: space-between;
  width: 100%;
  background: #48484d;
  padding: 1rem;
  min-height: 400px;
  box-shadow: inset 0px 11px 8px -10px rgba(0, 0, 0, 0.1), inset 0px -11px 8px -10px rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}
/* line 22, ../sass/cards.scss */
.sub-landing-content .card-background {
  height: 270px;
  width: 480px;
  background: #1d3557;
  position: relative;
  display: inline-block;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
/* line 31, ../sass/cards.scss */
.sub-landing-content .card-background:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
/* line 34, ../sass/cards.scss */
.sub-landing-content .card-background .img-details {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  background: rgba(0, 0, 0, 0.8);
  transform: scaleY(0);
  transition: transform .5s;
}
/* line 43, ../sass/cards.scss */
.sub-landing-content .card-background .img-details:hover {
  cursor: pointer;
}
/* line 46, ../sass/cards.scss */
.sub-landing-content .card-background .img-details .img-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 1rem;
  color: #500b07;
  text-align: center;
}
/* line 56, ../sass/cards.scss */
.sub-landing-content .card-background .img-details .img-content > h2:nth-child(odd) {
  color: #e63946;
}
/* line 59, ../sass/cards.scss */
.sub-landing-content .card-background .img-details .img-content > h2:nth-child(even) {
  color: #457b9d;
}
/* line 63, ../sass/cards.scss */
.sub-landing-content .card-background .img-details .img-content p {
  margin: 10px 0 0;
  color: #a8dadc;
}
/* line 69, ../sass/cards.scss */
.sub-landing-content .card-background:hover .img-box img {
  transform: scale(1.2);
}
/* line 72, ../sass/cards.scss */
.sub-landing-content .card-background:hover .img-details {
  transform: scaleY(1);
}
/* line 75, ../sass/cards.scss */
.sub-landing-content .card-background .img-box {
  position: relative;
  overflow: hidden;
}
/* line 78, ../sass/cards.scss */
.sub-landing-content .card-background .img-box img {
  max-width: 100%;
  transition: transform 2s;
}

@media only screen and (max-width: 1500px) {
  /* line 87, ../sass/cards.scss */
  .sub-landing-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    min-height: 1700px;
    align-content: space-between;
    align-items: center;
    width: 100%;
  }
  /* line 95, ../sass/cards.scss */
  .sub-landing-content .card-background {
    width: 960px;
    height: 540px;
    margin: auto;
  }

  /* line 102, ../sass/cards.scss */
  #announcement > h1 {
    text-align: center;
  }
}
@media only screen and (max-width: 1200px) {
  /* line 108, ../sass/cards.scss */
  .sub-landing-content {
    min-height: calc(270px * 3 + 100px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  /* line 114, ../sass/cards.scss */
  .sub-landing-content .card-background {
    width: 480px;
    height: 270px;
  }
}
@media only screen and (max-width: 414px) {
  /* line 121, ../sass/cards.scss */
  .sub-landing-content {
    min-height: calc(217px * 3 + 100px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
  }
  /* line 128, ../sass/cards.scss */
  .sub-landing-content .card-background {
    width: 320px;
    height: 180px;
  }
}
