/* HSL */
/* RGB */
@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400");
@-webkit-keyframes gradient-transition {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-webkit-keyframes lightshow {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 300% 0;
  }
  100% {
    background-position: 0 0;
  }
}
/* line 7, ../sass/cards.scss */
.sub-landing-content {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  background: #f1faee;
  flex-wrap: wrap;
  padding: 2rem;
  min-height: 400px;
}
/* line 18, ../sass/cards.scss */
.sub-landing-content .card-background {
  height: 300px;
  width: 30%;
  background: #1d3557;
  position: relative;
  display: inline-block;
  overflow: hidden;
}
/* line 25, ../sass/cards.scss */
.sub-landing-content .card-background .img-details {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  background: rgba(0, 0, 0, 0.8);
  transform: scaleY(0);
  transition: transform .5s;
}
/* line 34, ../sass/cards.scss */
.sub-landing-content .card-background .img-details:hover {
  cursor: pointer;
}
/* line 37, ../sass/cards.scss */
.sub-landing-content .card-background .img-details .img-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 1rem;
  color: #f1faee;
  text-align: center;
}
/* line 47, ../sass/cards.scss */
.sub-landing-content .card-background .img-details .img-content > h2:nth-child(odd) {
  color: #e63946;
}
/* line 50, ../sass/cards.scss */
.sub-landing-content .card-background .img-details .img-content > h2:nth-child(even) {
  color: #457b9d;
}
/* line 54, ../sass/cards.scss */
.sub-landing-content .card-background .img-details .img-content p {
  margin: 10px 0 0;
  color: #a8dadc;
}
/* line 60, ../sass/cards.scss */
.sub-landing-content .card-background:hover .img-box img {
  transform: scale(1.2);
}
/* line 63, ../sass/cards.scss */
.sub-landing-content .card-background:hover .img-details {
  transform: scaleY(1);
}
/* line 66, ../sass/cards.scss */
.sub-landing-content .card-background .img-box {
  position: relative;
  overflow: hidden;
}
/* line 69, ../sass/cards.scss */
.sub-landing-content .card-background .img-box img {
  max-width: 100%;
  transition: transform 2s;
}
