/* HSL */
/* RGB */
/* HSL */
/* RGB */
/*BORDEAUX*/
/*LIGHTER THAN OFF*/
@import url("https://fonts.googleapis.com/css?family=Raleway|Satisfy");
@import url("https://fonts.googleapis.com/css?family=Poppins");
@-webkit-keyframes gradient-transition {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-webkit-keyframes lightshow {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 300% 0;
  }
  100% {
    background-position: 0 0;
  }
}
/* line 6, ../sass/navigation_test0.scss */
:root {
  font-size: 16px !important;
}

/* line 10, ../sass/navigation_test0.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* line 15, ../sass/navigation_test0.scss */
body {
  position: relative;
}

/* line 18, ../sass/navigation_test0.scss */
header#desktop-icons {
  display: block;
}
/* line 20, ../sass/navigation_test0.scss */
header#desktop-icons nav#icons {
  height: 100px;
  width: 100%;
  background: linear-gradient(-45deg, #457b9d, #1d3557, #457b9d, #1d3557);
  background-size: 400% 400%;
  animation: gradient-transition 7s ease infinite;
  position: fixed;
  top: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  z-index: 100;
}
/* line 33, ../sass/navigation_test0.scss */
header#desktop-icons nav#icons > ul {
  padding: 20px;
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  justify-content: flex-end;
}
/* line 42, ../sass/navigation_test0.scss */
header#desktop-icons nav#icons > ul > li {
  list-style: none;
  text-align: center;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}
/* line 46, ../sass/navigation_test0.scss */
header#desktop-icons nav#icons > ul > li:nth-last-child(1) {
  border-right: none;
}
/* line 49, ../sass/navigation_test0.scss */
header#desktop-icons nav#icons > ul > li > a {
  text-decoration: none;
  padding: 0 50px;
  display: block;
}
/* line 57, ../sass/navigation_test0.scss */
header#desktop-icons ul li a .name {
  position: relative;
  height: 20px;
  width: 100%;
  display: block;
  overflow: hidden;
}
/* line 64, ../sass/navigation_test0.scss */
header#desktop-icons ul li a .name span {
  display: block;
  position: relative;
  color: #a8dadc;
  font-size: 18px;
  line-height: 20px;
  transition: .5s;
}
/* line 72, ../sass/navigation_test0.scss */
header#desktop-icons ul li a .name span::before {
  content: attr(data-text);
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  color: #e63946;
}
/* line 81, ../sass/navigation_test0.scss */
header#desktop-icons ul li a:hover .name span {
  transform: translateY(20px);
}
/* line 84, ../sass/navigation_test0.scss */
header#desktop-icons ul li a .icon {
  width: 40px;
  height: 40px;
  text-align: center;
  background: transparent;
  overflow: hidden;
  margin: 0 auto 10px;
}
/* line 93, ../sass/navigation_test0.scss */
header#desktop-icons ul li a .icon .fas {
  width: 100%;
  height: 100%;
  line-height: 40px;
  font-size: 34px;
  transition: .5s;
  color: #a8dadc;
}
/* line 101, ../sass/navigation_test0.scss */
header#desktop-icons ul li a .icon .fas:nth-last-child(1) {
  color: #e63946;
}
/* line 104, ../sass/navigation_test0.scss */
header#desktop-icons ul li a:hover .icon .fas {
  transform: translateY(-100%);
}
/* line 108, ../sass/navigation_test0.scss */
header#desktop-icons .logo {
  position: absolute;
  left: 2rem;
  color: #c5c5c5;
  cursor: pointer;
  -webkit-transition: all 0.3s cubic-bezier(0.42, 0.42, 0.75, 0.74);
  -moz-transition: all 0.3s cubic-bezier(0.42, 0.42, 0.75, 0.74);
  -ms-transition: all 0.3s cubic-bezier(0.42, 0.42, 0.75, 0.74);
  -o-transition: all 0.3s cubic-bezier(0.42, 0.42, 0.75, 0.74);
  transition: all 0.3s cubic-bezier(0.42, 0.42, 0.75, 0.74);
}
/* line 118, ../sass/navigation_test0.scss */
header#desktop-icons .logo:hover {
  color: #a8dadc;
}
/* line 121, ../sass/navigation_test0.scss */
header#desktop-icons .logo h1 {
  font-size: 2rem;
}

@media only screen and (min-width: 992px) {
  /* line 127, ../sass/navigation_test0.scss */
  header#icon-header {
    display: none;
  }
}
@media only screen and (max-width: 991px) {
  /* line 130, ../sass/navigation_test0.scss */
  header#desktop-icons {
    display: none;
  }

  /* line 133, ../sass/navigation_test0.scss */
  header#icon-header {
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 20px;
    width: 100%;
    box-sizing: border-box;
    background: linear-gradient(-45deg, #457b9d, #1d3557, #457b9d, #1d3557);
    background-size: 400% 400%;
    animation: gradient-transition 7s ease infinite;
    display: block;
    height: 65px;
  }
  /* line 145, ../sass/navigation_test0.scss */
  header#icon-header .logo {
    color: #c5c5c5;
    height: 65px;
    line-height: 65px;
    font-size: 24px;
    float: left;
    font-weight: bold;
  }
  /* line 153, ../sass/navigation_test0.scss */
  header#icon-header nav {
    /* use display none or left:-100% to hide the nav  */
    /* display: none; */
    position: absolute;
    top: 65px;
    bottom: 0;
    right: 0;
    width: 0vw;
    height: calc(100vh - 65px);
    background: #333;
  }
  /* line 164, ../sass/navigation_test0.scss */
  header#icon-header nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    text-align: center;
    justify-content: space-around;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
  }
  /* line 173, ../sass/navigation_test0.scss */
  header#icon-header nav ul li {
    list-style: none;
    position: relative;
  }

  /* line 180, ../sass/navigation_test0.scss */
  header nav ul li.sub-menu:before {
    content: '\f078';
    font-family: fontAwesome;
    position: absolute;
    line-height: 50px;
    color: #fff;
    right: 1px;
  }

  /* line 188, ../sass/navigation_test0.scss */
  header nav ul li.active.sub-menu:before {
    content: '\f077';
  }

  /* line 191, ../sass/navigation_test0.scss */
  header nav ul li ul {
    position: absolute;
    left: 0;
    background: #333;
    display: none;
  }

  /* line 197, ../sass/navigation_test0.scss */
  header nav ul li.active ul {
    /* use li: hover instead */
    display: block;
  }

  /* line 201, ../sass/navigation_test0.scss */
  header nav ul li ul li {
    display: block;
    width: 200px;
  }

  /* line 205, ../sass/navigation_test0.scss */
  header nav ul li a {
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    color: #fff;
    text-decoration: none;
    display: block;
  }

  /* line 213, ../sass/navigation_test0.scss */
  header nav ul li a:hover {
    color: #fff;
    background: #2196f3;
  }

  /* line 217, ../sass/navigation_test0.scss */
  header nav ul li a.active {
    background: #2196f3;
  }
}
/* line 232, ../sass/navigation_test0.scss */
.something {
  display: block;
  position: relative;
}

/* line 237, ../sass/navigation_test0.scss */
.test-content {
  height: 1500px;
  width: 100%;
  background: #a8dadc;
  padding-top: 65px;
}
