/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* HSL */
/* RGB */
/*BORDEAUX*/
/*LIGHTER THAN OFF*/
@import url("https://fonts.googleapis.com/css?family=Raleway|Satisfy");
@import url("https://fonts.googleapis.com/css?family=Poppins");
@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400");
@-webkit-keyframes gradient-transition {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-webkit-keyframes lightshow {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 300% 0;
  }
  100% {
    background-position: 0 0;
  }
}
/* line 10, ../sass/screen.scss */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* line 16, ../sass/screen.scss */
body {
  background: #c5c5c5;
  font-family: 'Poppins', sans-serif;
}

/* line 20, ../sass/screen.scss */
#image-container {
  width: 100%;
  height: 100vh;
  min-height: auto;
  background: #a8dadc;
  background-image: url("../images/background-landing-page.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
  color: #1d3557;
}
/* line 32, ../sass/screen.scss */
#image-container .darken-overlay {
  font-size: 17px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: justify;
}
/* line 39, ../sass/screen.scss */
#image-container .darken-overlay > h1 {
  font-size: 5rem;
  color: #c5c5c5;
}
/* line 43, ../sass/screen.scss */
#image-container .darken-overlay > p {
  font-size: 3.5rem;
  color: #457b9d;
}
/* line 47, ../sass/screen.scss */
#image-container .darken-overlay .button {
  font-size: 18px;
  text-decoration: none;
  color: #c5c5c5;
  border: 2px solid #c5c5c5;
  border-radius: 19px;
  margin-top: 20px;
  padding: 1rem 2rem;
  font-size: 2rem;
  cursor: pointer;
  background: transparent;
  -webkit-transition: all 0.3s cubic-bezier(0.42, 0.42, 0.75, 0.74);
  -moz-transition: all 0.3s cubic-bezier(0.42, 0.42, 0.75, 0.74);
  -ms-transition: all 0.3s cubic-bezier(0.42, 0.42, 0.75, 0.74);
  -o-transition: all 0.3s cubic-bezier(0.42, 0.42, 0.75, 0.74);
  transition: all 0.3s cubic-bezier(0.42, 0.42, 0.75, 0.74);
}
/* line 63, ../sass/screen.scss */
#image-container .darken-overlay .button:hover {
  background: #464646;
  color: white;
}

/* line 71, ../sass/screen.scss */
.services_header {
  text-align: center;
  font-size: 5rem;
  display: inline-block;
  color: #1d3557;
  padding: 1rem 2rem;
}
/* line 77, ../sass/screen.scss */
.services_header::after {
  content: "";
  /* This is necessary for the pseudo element to work. */
  display: block;
  /* This will put the pseudo element on its own line. */
  padding-top: 20px;
  /* This creates some space between the element and the border. */
  border-bottom: 0.4rem solid #1d3557;
  /* This creates the border. Replace black with whatever color you want. */
}

/* line 86, ../sass/screen.scss */
#announcement {
  font-size: 3.5rem;
  padding: 1rem 2rem;
  width: auto;
  display: inline-block;
  position: relative;
  color: #1d3557;
}
/* line 93, ../sass/screen.scss */
#announcement::after {
  content: "";
  /* This is necessary for the pseudo element to work. */
  display: block;
  /* This will put the pseudo element on its own line. */
  margin: 0 auto;
  /* This will center the border. */
  padding-top: 20px;
  /* This creates some space between the element and the border. */
  border-bottom: 0.4rem solid #1d3557;
  /* This creates the border. Replace black with whatever color you want. */
}
/* line 101, ../sass/screen.scss */
#announcement > h1 {
  width: auto;
}

/* line 105, ../sass/screen.scss */
.video-background {
  /* class name used in javascript too */
  width: 100%;
  /* width needs to be set to 100% */
  height: 100%;
  /* height needs to be set to 100% */
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

/* line 113, ../sass/screen.scss */
#services {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  margin: 3% 0;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.39), 0 -1px 1px #FFF, 0 1px 0 rgba(255, 255, 255, 0.1);
  padding: 3rem 0;
}
/* line 121, ../sass/screen.scss */
#services > div {
  padding: 1rem;
  width: calc(400px - 30px);
  height: calc(250px - 30px);
  display: block;
  position: relative;
  -webkit-transition: all 0.3s cubic-bezier(0.42, 0.42, 0.75, 0.74);
  -moz-transition: all 0.3s cubic-bezier(0.42, 0.42, 0.75, 0.74);
  -ms-transition: all 0.3s cubic-bezier(0.42, 0.42, 0.75, 0.74);
  -o-transition: all 0.3s cubic-bezier(0.42, 0.42, 0.75, 0.74);
  transition: all 0.3s cubic-bezier(0.42, 0.42, 0.75, 0.74);
}
/* line 133, ../sass/screen.scss */
#services > div::before, #services > div::after {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  background: linear-gradient(45deg, #e63946, #500b07, #a8dadc, #457b9d, #1d3557, #e63946, #500b07, #a8dadc, #457b9d, #1d3557);
  background-size: 400%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
  animation: lightshow 20s linear infinite;
}
/* line 147, ../sass/screen.scss */
#services > div::after {
  filter: blur(10px);
}
/* line 150, ../sass/screen.scss */
#services > div .content {
  position: absolute;
  top: 100px;
  height: calc(100% - 100px);
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  left: 0;
  text-align: center;
  -webkit-transition: all 0.3s cubic-bezier(0.42, 0.42, 0.75, 0.74);
  -moz-transition: all 0.3s cubic-bezier(0.42, 0.42, 0.75, 0.74);
  -ms-transition: all 0.3s cubic-bezier(0.42, 0.42, 0.75, 0.74);
  -o-transition: all 0.3s cubic-bezier(0.42, 0.42, 0.75, 0.74);
  transition: all 0.3s cubic-bezier(0.42, 0.42, 0.75, 0.74);
}
/* line 169, ../sass/screen.scss */
#services > div .content h3 {
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 24px;
}
/* line 176, ../sass/screen.scss */
#services > div:nth-child(odd) {
  background: #a8dadc;
}
/* line 179, ../sass/screen.scss */
#services > div:nth-child(even) {
  background: #1d3557;
}
/* line 182, ../sass/screen.scss */
#services > div:hover .icon .fas {
  font-size: 40px;
}
/* line 185, ../sass/screen.scss */
#services > div:hover .icon {
  top: 20px;
  left: calc(50% - 40px);
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
/* line 192, ../sass/screen.scss */
#services > div .icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(-45deg, #1d3557, #a8dadc);
  -webkit-transition: all 0.3s cubic-bezier(0.42, 0.42, 0.75, 0.74);
  -moz-transition: all 0.3s cubic-bezier(0.42, 0.42, 0.75, 0.74);
  -ms-transition: all 0.3s cubic-bezier(0.42, 0.42, 0.75, 0.74);
  -o-transition: all 0.3s cubic-bezier(0.42, 0.42, 0.75, 0.74);
  transition: all 0.3s cubic-bezier(0.42, 0.42, 0.75, 0.74);
  z-index: 1 !important;
}
/* line 206, ../sass/screen.scss */
#services > div .icon .fas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  -webkit-transition: all 0.3s cubic-bezier(0.42, 0.42, 0.75, 0.74);
  -moz-transition: all 0.3s cubic-bezier(0.42, 0.42, 0.75, 0.74);
  -ms-transition: all 0.3s cubic-bezier(0.42, 0.42, 0.75, 0.74);
  -o-transition: all 0.3s cubic-bezier(0.42, 0.42, 0.75, 0.74);
  transition: all 0.3s cubic-bezier(0.42, 0.42, 0.75, 0.74);
}
/* line 217, ../sass/screen.scss */
#services > div .icon .fas:nth-child(1) {
  color: #a8dadc;
}
/* line 220, ../sass/screen.scss */
#services > div .icon .fas:nth-child(2) {
  color: #1d3557;
}

/* line 227, ../sass/screen.scss */
#motivational-quote {
  margin: 150px 0;
  width: 100%;
  height: 300px;
  animation: gradient-transition 7s ease infinite;
  width: 100%;
  background: linear-gradient(to right, #acacac 0%, #929292 100%);
  padding: 2rem;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}
/* line 77, ../sass/colors.scss */
#motivational-quote::before, #motivational-quote::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: inherit;
  z-index: -1;
  transition: ease all .5s;
}
/* line 89, ../sass/colors.scss */
#motivational-quote::before {
  top: 0;
  transform-origin: right top;
  transform: skewY(3deg);
}
/* line 104, ../sass/colors.scss */
#motivational-quote::after {
  bottom: 0;
  transform-origin: left bottom;
  transform: skewY(3deg);
}
/* line 238, ../sass/screen.scss */
#motivational-quote p {
  font-size: 3rem;
  font-weight: bold;
  transform: rotate(3deg);
  background-color: #565656;
  color: transparent;
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.15);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}
/* line 248, ../sass/screen.scss */
#motivational-quote p::before {
  content: open-quote;
  background-color: #565656;
  color: transparent;
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.5);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  margin-right: 5px;
}
/* line 258, ../sass/screen.scss */
#motivational-quote p::after {
  content: close-quote;
  background-color: #565656;
  color: transparent;
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.5);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  margin-left: 5px;
}

/* line 270, ../sass/screen.scss */
#feedback {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/* line 276, ../sass/screen.scss */
#feedback div {
  width: 33%;
  padding: 2rem;
}
/* line 279, ../sass/screen.scss */
#feedback div:nth-child(odd) {
  background: #e63946;
}

/* line 285, ../sass/screen.scss */
.clickable {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
  z-index: 5;
}

/* line 293, ../sass/screen.scss */
.darken-overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

@media only screen and (max-width: 1200px) {
  /* line 299, ../sass/screen.scss */
  #services {
    display: flex;
    min-height: 850px;
    flex-direction: column;
    align-items: center;
  }

  /* line 305, ../sass/screen.scss */
  #announcement {
    display: block;
    margin: auto;
    color: #1d3557;
  }
  /* line 309, ../sass/screen.scss */
  #announcement::after {
    width: 50%;
    margin: auto;
    border-bottom: 0.2rem solid #1d3557;
  }

  /* line 315, ../sass/screen.scss */
  .services_header {
    text-align: center;
    width: 100%;
    margin: auto;
    text-align: center;
    height: 200px;
    display: block !important;
  }
  /* line 322, ../sass/screen.scss */
  .services_header::after {
    width: 50%;
    margin: auto;
    border-bottom: 0.2rem solid #1d3557;
  }

  /* line 328, ../sass/screen.scss */
  #motivational-quote {
    height: 200px;
  }
  /* line 330, ../sass/screen.scss */
  #motivational-quote p {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 700px) {
  /* line 338, ../sass/screen.scss */
  #image-container .darken-overlay > p {
    font-size: 2.5rem;
  }

  /* line 343, ../sass/screen.scss */
  #announcement {
    display: block;
    margin: auto;
    color: #1d3557;
    font-size: 2.5rem;
  }
  /* line 348, ../sass/screen.scss */
  #announcement::after {
    width: 50%;
    margin: auto;
    border-bottom: 0.2rem solid #1d3557;
  }

  /* line 354, ../sass/screen.scss */
  .services_header {
    font-size: 3.5rem;
  }
}
@media only screen and (max-width: 560px) {
  /* line 360, ../sass/screen.scss */
  #image-container > h1 {
    font-size: 3rem;
  }

  /* line 364, ../sass/screen.scss */
  #motivational-quote {
    height: 180px;
  }
  /* line 366, ../sass/screen.scss */
  #motivational-quote p {
    font-size: 1.5rem;
  }

  /* line 370, ../sass/screen.scss */
  #announcement {
    display: block;
    margin: auto;
    color: #1d3557;
    font-size: 2rem;
  }
  /* line 375, ../sass/screen.scss */
  #announcement::after {
    width: 50%;
    margin: auto;
    border-bottom: 0.2rem solid #1d3557;
  }
}
@media only screen and (max-width: 430px) {
  /* line 383, ../sass/screen.scss */
  #motivational-quote {
    height: 150px;
  }
  /* line 385, ../sass/screen.scss */
  #motivational-quote p {
    font-size: 1rem;
  }

  /* line 390, ../sass/screen.scss */
  #image-container > h1 {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 414px) {
  /* line 398, ../sass/screen.scss */
  #image-container .darken-overlay > h1 {
    font-size: 3rem;
  }
  /* line 401, ../sass/screen.scss */
  #image-container .darken-overlay > p {
    font-size: 1.5rem;
  }
  /* line 404, ../sass/screen.scss */
  #image-container .darken-overlay .button {
    font-size: 1.5rem;
  }

  /* line 409, ../sass/screen.scss */
  #announcement {
    display: block;
    margin: auto;
    color: #1d3557;
    font-size: 1.25rem;
    margin-top: 20px;
  }
  /* line 415, ../sass/screen.scss */
  #announcement::after {
    width: 50%;
    margin: auto;
    border-bottom: 0.2rem solid #1d3557;
  }

  /* line 421, ../sass/screen.scss */
  #services {
    display: flex;
    min-height: 850px;
    flex-direction: column;
    align-items: center;
  }
  /* line 426, ../sass/screen.scss */
  #services > div {
    width: calc(348px - 30px);
    height: calc(217px - 30px);
  }
  /* line 429, ../sass/screen.scss */
  #services > div .content {
    top: 75px;
  }

  /* line 434, ../sass/screen.scss */
  #motivational-quote {
    margin: 75px 0;
  }

  /* line 437, ../sass/screen.scss */
  .services_header {
    font-size: 2.5rem;
    height: 100px;
  }
}
